<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta name="format-detection" content="telephone=no" />
  <!--[if !mso]><! -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!--<![endif]-->
</head>

<body>
  <p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Beste</p><br /><br />
  <p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Uw bericht verzonden op <i> {{verzend-datum}} </i> naar <i> {{bestuurseenheid-naam}} </i> is succesvol toegekomen op <i> {{ontvang-datum}} </i></p> in de module berichtencentrum van het digitaal loket.<br />
  <p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Met Vriendelijke Groet</p>
  <p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">De berichtencentrum email notificatie service.</p><br /><br />
  <p style="color:gray; margin:0; line-height:1.6; font-family:sans-serif; letter-spacing:normal; font-size:14px;">Opgelet, dit bericht werd automatisch gegenereerd. Reageren op deze mail kan niet.</p>
</body>
</html>